<?xml version="1.0" encoding="UTF-8" ?>
<!--
    Copyright 2015 Tremolo Security, Inc.
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<!DOCTYPE log4j:configuration>

<log4j:configuration debug="true">


	<appender name="server-log" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/> 
		<!-- <param name="file" value="${serverHome}/logs/tremolo-service.log" />
		<param name="append" value="true" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      		<param name="FileNamePattern" value="${serverHome}/logs/tremolo-service.log.%d"/>
    	</rollingPolicy> -->
		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%t] %-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<!-- <appender name="access-log" class="org.apache.log4j.ConsoleAppender">
		<param name="File" value="${serverHome}/logs/access.log" />
		<param name="Append" value="true" /> 
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      		<param name="FileNamePattern" value="${serverHome}/logs/access.log.%d"/>
    	</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %m%n" />
		</layout>
	</appender>
	
	<appender name="ldap-access-log" class="org.apache.log4j.ConsoleAppender">
		<param name="File" value="${serverHome}/logs/ldap-access.log" />
		<param name="Append" value="true" /> 
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
      		<param name="FileNamePattern" value="${serverHome}/logs/ldap-access.log.%d"/>
    	</rollingPolicy> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %m%n" />
		</layout>
	</appender>
	 -->
	 
	 <root>
	 	<level name="debug" />
	 	<appender-ref ref="server-log" />
	 </root>
<!-- 
	<logger name="org" additivity="false">
		<level value="info" />
		<appender-ref ref="server-log" />
	</logger>
	
	<logger name="net" additivity="false">
		<level value="info" />
		<appender-ref ref="server-log" />
	</logger>

	<logger name="com.tremolosecurity" additivity="false">
		<level value="info" />
		<appender-ref ref="server-log" />
	</logger>

	<logger name="com.tremolosecurity.log" additivity="false">
		<level value="warn" />
		<appender-ref ref="server-log" />
	</logger>

	<logger name="com.tremolosecurity.log.AccessLog" additivity="false">
		<level value="info" />
		<appender-ref ref="access-log" />
	</logger>
	
	<logger name="com.tremolosecurity.proxy.myvd.log.AccessLog" additivity="false">
		<level value="info" />
		<appender-ref ref="ldap-access-log" />
	</logger>
 -->






</log4j:configuration>